.wishlist-layout{
    width: 100vw;
    min-height: 70vh;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    /* outline: 1px solid black; */
}

.empty-wishlist{
    align-self: center;
}