aside{
    border-right: 1px solid black;
    margin: 1rem;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slider{
    width: 80%;
    height: 0.3rem;
}

.clear-btn{
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: 0.5rem;
}

.clear-btn:hover{
    text-decoration: underline;
}