.navbar{
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.navbar-item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: inherit;
}

.logo{
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
    color: black;
    margin-left: 1rem;
}

.navbar-right{
    width: 15rem;
}

.navbar-right-item{
    cursor: pointer;
}

.btn{
    cursor: pointer;
    border: none;
    height: 1.8rem;
    background-color:#00439c;
    color: white;
}

.badge-base{
    position: relative;
    padding: 0.6rem;
    
}

.badge{
    background-color: red;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    font-size: small;
    height: 1.2rem;
    width: 1.2rem;
    text-align: center;
}