footer{
    display: flex;
    background-color: #00439c;
    color: white;
    justify-content: space-around;
    padding: 2rem;
}

li{
    list-style-type: none;
    padding: 0.2rem;
}

.footer-links{
    display: flex;
    flex-direction: column;
    width: 15rem;
    align-items: center;

}

.footer-contact-links{
    display: flex;
    width: 14rem;
    justify-content: space-evenly;
    

}